@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-egg: #f6f1e9;
  --color-yellow: #ffd93d;
  --color-orange: #ff8400;
  --color-maron: #4f200d;
  --color-grey: #65656567;
}

@layer component {
  .full-view {
    @apply w-screen h-screen;
  }

  .flex-all-center {
    @apply flex items-center justify-center;
  }

  .center-flex {
    @apply flex items-center justify-center;
  }
}
